# Below managed by home-manager
.zshrc
.zshenv
.zshenv
.zshenv
.zlogout
.shell-logout
.shell-env
.shell-common
.shell-aliases
.screenrc
.profile
.bashrc
.bash_profile
.bash_logout
.config/starship.toml
.config/tmux/tmux.conf
.config/nvim/init.lua
.config/nvim/lua
.config/nvim/lazyvim.json
.config/nvim/lazy-lock.json
.gitconfig
.gitignore_global
.config/alacritty/alacritty.yml
.config/MusicBrainz/Picard.ini
.config/atuin/config.toml
.config/btop
.config/direnv/lib
.config/htop
