# vi:sw=8:sts=8:ts=8:noexpandtab
[color]
	ui = auto

[user]
	email = DoomHammerNG@gmail.com
	name = Piotr Gaczkowski

[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 515
	main-window-view = FileView
	file-view-vpane-position = 409

[push]
	default = simple

[core]
	excludesfile = /home/doomhammer/.gitignore

[alias]
        # Status shortcut
	st = status
	# Pull Upstream
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"

[github]
	user = DoomHammer

# read from given uri
# push to writable one
# http://bit.ly/g9c9Y2
#
[url "http://github.com/"]
  insteadOf = "gh:"

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "http://github.com/"
  pushInsteadOf = "gh:"
