# vi:sw=2:sts=2:ts=2:expandtab
[color]
  ui = auto

[user]
  email = DoomHammerNG@gmail.com
  name = Piotr Gaczkowski

[core]
  autocrlf = false
  excludesfile = ~/.gitignore
  whitespace = blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent
  # Use the best pager available
  pager = (which diff-so-fancy >/dev/null 2>&1 && diff-so-fancy || which brew >/dev/null 2>&1 && $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight || cat)|less

[push]
  default = simple

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  # Automatically stash before a rebase and unstash afterwards.
  autoStash = true

[commit]
  # Show diff when preparing commit message
  verbose = true

[alias]
  a = add
  s = status
  st = status
  ci = commit
  b = branch
  co = checkout
  re = remote
  d = diff
  dc = diff --cached
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  # Pull Upstream
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"

###
### Git-up specific
### https://github.com/aanand/git-up
###
[git-up "rebase"]
  arguments = --preserve-merges

###
### Github specific
###
[github]
  user = DoomHammer

# read from given uri
# push to writable one
# http://bit.ly/g9c9Y2
#
[url "http://github.com/"]
  insteadOf = "gh:"

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "http://github.com/"
  pushInsteadOf = "gh:"

###
### Include local overrides
###
[include]
  path = .gitconfig.local
[credential]
  helper = "cache --timeout 86400"
