# Standard stuff that's not managed
/*/
!/.config/
!/.github/
*.prev
*.orig
*.old
*.bkp
.config/Autodesk
.config/asciinema
.config/composer
.config/configstore
.config/github-copilot
.config/gtk-2.0
.cortex-debug
.esd_auth
.viminfo
.wget-hsts
.yarnrc
.zcompdump*
.CFUserTextEncoding
# Don't follow those configs
.config/MusicBrainz/.Picard.ini.synclock
.config/direnv/lib
.config/exercism
.config/gcloud
.config/nvim/undodir
.config/packer
.config/pulse
.config/xbuild
.config/zsh
# Below managed by home-manager
.zshrc
.zshenv
.zshenv
.zshenv
.zlogout
.shell-logout
.shell-env
.shell-common
.shell-aliases
.screenrc
.profile
.bashrc
.bash_profile
.bash_logout
.config/starship.toml
.config/tmux/tmux.conf
.config/tmux/plugins/tmux-which-key/config.yaml
.config/nvim/init.lua
.config/nvim/lua
.config/nvim/lazyvim.json
.config/nvim/lazy-lock.json
.gitconfig
.gitignore_global
.config/alacritty/alacritty.yml
.config/MusicBrainz/Picard.ini
.config/atuin/config.toml
.config/btop
.config/htop
.gitmessage
.config/yazi.toml
# History
.*history
.lesshst
.config/home-manager/home.nix
.config/ripgrep
.pre-commit-config.yaml
