[color]
	ui = auto
[user]
	email = DoomHammerNG@gmail.com
	name = Piotr Gaczkowski
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 515
	main-window-view = FileView
	file-view-vpane-position = 409
[core]
	excludesfile = /home/doomhammer/.gitignore
[alias]
	st = status
[github]
	user = DoomHammer
[deja]
	cheatpath = dotfiles/cheats

# read from given uri
# push to writable one
# http://bit.ly/g9c9Y2
#
[url "http://github.com/"]
  insteadOf = "gh:"

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "http://github.com/"
  pushInsteadOf = "gh:"
