name: Validate Nix Flake

on:
  workflow_dispatch:
  pull_request:
  push:
    paths:
      - "**.nix"
      - "**.lock"
      - ".github/workflows/check.yml"

jobs:
  check-flake:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty

      - name: Nix Magic Cache
        uses: DeterminateSystems/flakehub-cache-action@main

      - name: Check the root Flake
        run: nix flake check --print-build-logs

      - name: Check the other Flake
        run: |
          cd .config/nix
          export NIXPKGS_ALLOW_UNFREE=1
          export NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1
          nix flake check --impure --print-build-logs
