name: Evaluate configurations

on:
  workflow_dispatch:
  pull_request:

jobs:
  evaluate-home-manager-flake:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-latest
            system: aarch64-darwin

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          enable_kvm: true
          extra_nix_config: |
            keep-outputs = true
            keep-failed = true

      - name: Evaluate Home Manager configurations
        run: nix build -f .config/nix/parts/programs/ciHomeManagerConfigurations.nix --print-build-logs

      # - if: matrix.os == 'macos-latest'
      #   name: Check Nix Darwin configurations
      #   run: |
      #     export HOSTNAME=eos
      #     sudo scutil --set HostName "$HOSTNAME"
      #     sudo scutil --set LocalHostName "$HOSTNAME"
      #     sudo scutil --set ComputerName "$HOSTNAME"
      #     dscacheutil -flushcache
      #     # FIXME: This currently fails to build linux-builder, gonna figure something out
      #     sudo "$(which nix)" run nix-darwin -- check --flake ".config/nix" -L --print-build-logs
